@import "src/Theme.scss";

.home {
  display: flex;
  color: $color-text-light-1;
  padding: 1rem;
  background-color: $color-primary-light;

  &--margin-fixes {
    width: 15%;
    min-width: 20rem;
  }

  p {
    font-size: 2rem;
    letter-spacing: .15rem;
    text-align: justify;
    font-weight: 300;
  }
}
