@import "src/Theme.scss";

.home{
  display: flex;
  color: $color-text-light;
  padding: 1rem;
  background-color: $color-primary-light;

  &--margin-fixes {
    width: 15%;
    min-width: 20rem;
  }
}
