$color-primary: #171b4b;
$color-primary-light: #1e1f52;
$color-primary-dark: #2f3640;


$color-text-light-1: #fbfcf8;
$color-text-light-2: #fa983a;
$color-text-light-3: #e85067;

$color-icon-logo: #82589F;
$color-icon-about: #adff2f;
$color-icon-exp: #17c0eb;
$color-icon-pro: #ff4d4d;
$color-icon-skill: #c56cf0;
$color-icon-edu: #32ff7e;
$color-icon-cert: #0fbcf9;
$color-icon-cont: #B33771;
$color-icon-resume: #C4E538;